<nav class="h-screen shadow-md flex flex-col justify-between transition-all duration-300"
     [class.w-64]="isSidebarExpanded"
     [class.w-20]="!isSidebarExpanded">
    <ul class="pt-6">
        <li class="pl-4 py-2">
            <a href="/" class="flex items-center space-x-3">
                <fa-icon [icon]="['fas', 'home']"></fa-icon>
                <span [class.hidden]="!isSidebarExpanded" class="transition-all duration-300">Dashboard</span>
            </a>
        </li>
        <li class="pl-4 py-2">
            <a href="/" class="flex items-center space-x-3">
                <fa-icon [icon]="['fas', 'car']"></fa-icon>
                <span [class.hidden]="!isSidebarExpanded" class="transition-all duration-300">Carros</span>
            </a>
        </li>
        <li class="pl-4 py-2">
            <a href="/user/show-user" class="flex items-center space-x-3">
                <fa-icon [icon]="['fas', 'money-bill']"></fa-icon>
                <span [class.hidden]="!isSidebarExpanded" class="transition-all duration-300">Clientes</span>
            </a>
        </li>
    </ul>
</nav>
