<div class="flex h-screen">
<!--  <span>
    <span role="button" aria-label="Slidebar" class="ml-8" (click)="toggleSidebar()">
&lt;!&ndash;      <fa-icon [icon]="['fas', 'bars']" size="lg"></fa-icon>&ndash;&gt;
    </span>
  </span>-->
    <div class="flex flex-1 h-full bg-gray-200 font-roboto">
        <rent-navbar></rent-navbar>

        <div class="flex flex-1 flex-col overflow-hidden">
            <rent-header></rent-header>

            <main class="flex-1 overflow-x-hidden overflow-y-auto bg-gray-200">
                <div class="container mx-auto px-6 py-8">
                    <router-outlet></router-outlet>
                </div>
            </main>
        </div>
    </div>
</div>
